<div class="new">
  <h2>New Celebrity</h2>
  <form action="/celebrities/new" method="post">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input" />
    <br>
    <label for="occupation-input">Occupation:</label>
    <input type="text" name="occupation" id="occupation-input" />
    <br>
    <label for="catchPhrase-input">Catch Phrase:</label>
    <input type="text" name="catchPhrase" id="catchPhrase-input" />
    <br>
    <button class="save-button" type="submit">Create new celebrity</button>
  </form>
  <br>
  <div class="homepage-buttons">
    <a href="/celebrities">Back to all celebrities</a>
  </div>
</div>
