<div class="show">
  <h2>{{celeb.name}}</h2>
  <br>
  <p><b>Occupation: </b>{{celeb.occupation}}</p>
  <p><b>Catch phrase: </b>{{celeb.catchPhrase}}</p>
  <br>
  <div class="homepage-buttons">
    <a href="/celebrities">Back to all celebrities</a>
  </div> 
</div>


