<div class="homepage">
  <h1>Welcome to mongoose celebrities & movies lab</h1>
  <p>by Katia Liashevska</p>
  <div class="homepage-buttons">
      <a href="/celebrities">See celebrities</a>
      <a href="/movies">See movies</a>
  </div>
</div>

