<div class="show">
  <h2>{{movie.title}}</h2>
  <br>
  <p><b>Genre: </b>{{movie.genre}}</p>
  <p><b>Plot: </b>{{movie.plot}}</p>
  <br>
  <div class="homepage-buttons">
    <a href="/movies">Back to all movies</a>
  </div>
</div>
